<?xml version="1.0" encoding="UTF-8"?>
<launch>
<param name="/use_sim_time" value="true"/>
<!-- Launch rosbot world map -->
<arg name="use_gazebo" default="true"/>
<include unless="$(arg use_gazebo)" file="$(find astra_launch)/launch/astra.launch"/>
<include if="$(arg use_gazebo)" file="$(find rosbot_description)/launch/rosbot.launch"/>
<!-- Launch RobotMove node -->
<node pkg="tutorial_pkg" type="tutorial_pkg_node" name="RobotMove" output="screen">
</node>
</launch>
